
body {
    min-height: 100vh;
    background: #35263a;
    color: white;
    box-sizing: border-box;
    padding: 20px 70px;
}

@media (max-width: 600px) {
    body {
        padding: 20px 20px;
    }
}