
body {
    background: #35263a;
    color: white;
    box-sizing: border-box;
    height: auto;
    min-height: 100dvh;
    margin: 0;
}

.max-content {
    max-width: 1440px;
    width: 100%;
    padding:  20px 70px;
    box-sizing: border-box;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.survey-lists {
    box-sizing: border-box;
    padding: 0 70px;
}

@media (max-width: 950px) {
    .max-content {
        padding: 20px;
    }
}


@media (max-width: 600px) {
    body {
        padding: 20px 20px;
    }

    .max-content {
        padding: 10px;
    }

    .content {
        align-items: center;
    }

    .survey-lists {
        padding: 0;
    }
}