dialog {
    box-sizing: border-box;
    background: #433249;
    color: white;
    max-width: 1140px;
    width: 80%;
    height: min-content;
    opacity: 1;
    gap: 48px;
    border-top-left-radius: 5px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 70px 70px 70px;
    border: none;
    overflow-y: auto;
}

dialog::-webkit-scrollbar {
    width: 8px;
}

dialog::-webkit-scrollbar-track {
    background: transparent;
}

dialog::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #FFB770;
}

dialog::backdrop {
    background: #000000b9;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    max-width: 400px;
    width: 100%;
    margin-top: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding-top: 7px;
    padding-right: 13px;
    padding-bottom: 16px;
    padding-left: 13px;
}

input:focus {
    border: none;
    outline: none;
    background: #FEE9D4;
}

#description {
    height: 80px;
    max-width: 400px;
    width: 100%;
    margin-top: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding-top: 7px;
    padding-right: 13px;
    padding-bottom: 16px;
    padding-left: 13px;
}

textarea:focus {
    border: none;
    outline: none;
    background: #FEE9D4;
}

.ckeckbox-input {
    width: 20px !important;
}

h1 {
    color: #EE9236;
}

.survey-state {
    background: #FFB770;
    color: black;
    width: 64px;
    height: 26px;
    border-top-right-radius: 14px;
    padding-top: 3px;
    padding-right: 12px;
    padding-bottom: 3px;
    padding-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.over-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.form-content {
    max-width: 1052px;
    height: auto;
    opacity: 1;
    gap: 64px;
    border-top-left-radius: 5px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 50px 60px;
    background: #8E709929;
}

.closing-icon {
    cursor: pointer;
    margin-right: 20px;
    border-radius: 10px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    gap: 10px;
    background: #FFB7704D;
}

.closing-icon:hover {
    background: #ffb77098;
}

.cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111px;
    height: 40px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    gap: 10px;
    border-radius: 10px;
    background: #FFB7704D;
    color: white;
}

.cancel-btn:hover {
    background: #ffb77098;
}

.survey-info-row {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
    gap: 40px;
}

.survey-info-row-c {
    display: flex;
    flex-direction: column;
}

.date-category-c {
    display: flex;
    padding: 20px 0;
    gap: 60px;
}

#categories {
    position: absolute;
    cursor: pointer;
    margin-top: -8px;
    padding: 16px;
    width: 200px;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    outline: none;
    text-indent: -9999px;
}

.arrow-icon {
    content: url('assets/img/arrow_drop_down.png');
}

.category-label {
    display: flex;
    align-items: center;
}

.category-label:hover .arrow-icon {
    content: url('assets/img/arrow_drop_down_hover.png');
}

.input-c-c:focus-within .arrow-icon {
    content: url('assets/img/arrow_drop_up.png');
}

.input-c-c:focus-within:hover .arrow-icon {
    content: url('assets/img/arrow_drop_up_hover.png');
}

.input-c-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-c-c:hover {
    background: #D9D9D91F;
    border-radius: 8px;

}

.input-c {
    display: flex;
    flex-direction: column;
}

.input-clear-c {
    display: flex;
    align-items: center;
}

.align-start {
    align-items: flex-start !important;
}

.question-rows {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
}

.flex-c {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 400px;
}

.add-question-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    gap: 10px;
    border-radius: 10px;
    background: #FFB7704D;
    color: white;
}

.add-question-btn:hover {
    background: #ffb77098;
}

.add-btn-c {
    display: flex;
    justify-content: flex-end;
}

.add-icon {
    content: url('assets/img/add_circle_white.png');
    
}

.answer-li {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    counter-increment: answer;
}

.answer-li::before {
    content: counter(answer, upper-alpha) ".";
    flex-shrink: 0;
    width: 20px;
}

.answer-btn {
    display: flex;
    align-items: center;
    width: auto;
    border: none;
    background: transparent;
    text-decoration: underline;
    color: white;
    margin: 20px 0;
}

.answer-btn:hover {
    background: #FAF5FE33;
}

.answer-li .input-clear-c {
    display: flex;
    align-items: center;
    gap: 8px;
}

.publish-c {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.publish-btn {
    width: auto;
    height: 48px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 10px;
    border-radius: 10px;
    background: #FFCFA1;
}

.publish-btn:hover {
    background: #FFB770;
}

.check-icon {
    content: url('assets/img/check.png');
    width: 0;
    height: 14px;
    opacity: 0;
    overflow: hidden;
    transition: width 0.4s ease, opacity 0.4s ease;
}

.publish-btn:hover .check-icon {
    width: 18px;
    opacity: 1;
}

.clear-btn {
    content: url('assets/img/delete_icon.png');
    cursor: pointer;
    height: 24px;
    width: auto;
}

.clear-btn:hover {
    content: url('assets/img/delete_icon_hover.png');
}

.fl-direction-c {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.error-msg {
    font-size: 16px;
    color: red;
    visibility: hidden;
    min-height: 20px;
}

.error-msg.error-visible {
    visibility: visible;
}

@media (max-width: 950px) {
    .form-content {
        padding: 20px 30px;
    }

    .check-icon {
        content: url('assets/img/check.png');
        opacity: 1;
        width: 24px;
    }

    .date-category-c {
        flex-direction: column;
        gap: 20px;
    }

    .survey-info-row {
        height: auto;
        grid-template-columns: auto;
        margin-bottom: 20px;
        gap: 0;
        padding: 0;
    }

    label {
        padding-top: 12px;
    }

    .question-rows {
        grid-template-columns: auto ;
    }

    .add-btn-c {
        margin-top: 40px;
    }
}


@media (max-width: 600px) {
    dialog {
        padding: 0;
    }

    .over-header {
        box-sizing: border-box;
        padding: 0 20px;
    }

    .modal-header {
        box-sizing: border-box;
        padding: 0 20px;
    }
}