
<dialog #dialog>
    <div>
        <h2>Add a new survey</h2>
        <button>cancel</button>
    </div>

    <div>
        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="title">Survey name</label>
                <input id="title" type="text" formControlName="title">

                <label for="endDate">Set end date (optional)</label>
                <input id="endDate" type="date" formControlName="ends_at">
                
                <label for="description">Describing text (optional)</label>
                <input id="description" type="text" formControlName="description">
                
                <label for="categories">Choose category</label>
                <input id="categories" type="text" formControlName="category">
            </div>

            <div formArrayName="questions">
                @for (question of surveyForm.controls.questions.controls; track $index; let questionIndex = $index) {
                    <div [formGroupName]="questionIndex">
                        <label [for]="'question-' + questionIndex">{{ questionIndex + 1 }}. Question</label>
                        <input [id]="'question-' + questionIndex" type="text" formControlName="title">

                        <button type="button" (click)="addQuestion()">Add next question</button>

                        <label [for]="'multiple-answers-' + questionIndex">allow multiple answers</label>
                        <input [id]="'multiple-answers-' + questionIndex" type="checkbox" formControlName="allow_multiple_answers">   

                        <div formArrayName="answers">
                            @for (answer of question.controls.answers.controls; track $index; let answerIndex = $index) {
                                <div [formGroupName]="answerIndex">
                                    <label [for]="'answers-' + questionIndex + '-' + answerIndex">{{ answerIndex + 1 }}. Answer</label>
                                    <input [id]="'answers-' + questionIndex + '-' + answerIndex" type="text" formControlName="title">
                                </div>
                            }

                            <button type="button" (click)="addAnswers(questionIndex)">Add answer</button>
                        </div>
                    </div>
                }
            </div>

            <button type="submit">Publish</button>
        </form>
    </div>
</dialog>