
<dialog #dialog>
    <div class="modal-header">
        <h1>Create new survey</h1>
        <button class="cancel-btn" (click)="closeModal()">Cancel  X</button>
    </div>

    <div>
        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
            <div class="survey-info-row">
                <div class="survey-info-row-c">
                    <div class="input-c">
                        <label for="title">Survey name</label>
                        <div class="input-clear-c">
                            <input id="title" type="text" formControlName="title">
                            <img (click)="clearField('title')" class="clear-btn" src="" alt="delete-icon">
                        </div>
                    </div>
                    <div class="date-category-c">
                        <div class="input-c">
                            <label for="endDate">Set end date (optional)</label>
                            <input id="endDate" type="date" formControlName="ends_at">
                        </div>
                        <div class="input-c">
                            <label for="categories">Choose a category</label>
                            <select id="categories" formControlName="category">
                                @for (category of categories; track category) {
                                    <option [value]="category">
                                        {{ category }}
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="input-c">
                    <label for="description">Describing text (optional)</label>
                    <div class="input-clear-c">
                        <input id="description" type="text" formControlName="description">
                        <img (click)="clearField('description')" class="clear-btn" src="" alt="delete-icon">
                    </div>
                </div>
            </div>
            

            <div formArrayName="questions">
                <button class="add-question-btn" type="button" (click)="addQuestion()">Add next question</button>
                @for (question of surveyForm.controls.questions.controls; track $index; let questionIndex = $index) {
                    <div [formGroupName]="questionIndex">    
                        <label [for]="'question-' + questionIndex">{{ questionIndex + 1 }}. Question</label>
                        <div class="input-clear-c">    
                            <input [id]="'question-' + questionIndex" type="text" formControlName="title">
                            <img (click)="question.controls.title.reset()" class="clear-btn" src="" alt="delete-icon">
                        </div>
                        

                        <label [for]="'multiple-answers-' + questionIndex">allow multiple answers</label>
                        <input [id]="'multiple-answers-' + questionIndex" type="checkbox" formControlName="allow_multiple_answers">   
                        
                        <div formArrayName="answers">
                            @for (answer of question.controls.answers.controls; track $index; let answerIndex = $index) {
                                <div [formGroupName]="answerIndex">
                                    <label [for]="'answers-' + questionIndex + '-' + answerIndex">{{ answerIndex + 1 }}. Answer</label>
                                    <div class="input-clear-c">
                                        <input [id]="'answers-' + questionIndex + '-' + answerIndex" type="text" formControlName="title">
                                        <img (click)="answer.controls.title.reset()" class="clear-btn" src="" alt="delete-icon">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                <button class="answer-btn" type="button" (click)="addAnswers(questionIndex)">Add answer</button>
                }
                
            </div>

            <div class="publish-c">
                <button class="publish-btn" type="submit" [disabled]="surveyForm.invalid">Publish</button>
            </div>
        </form>
    </div>
</dialog>