dialog {
    background: #433249;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #EE9236;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    width: 111px;
    height: 40px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    gap: 10px;
    border-radius: 10px;
    background: #FFB7704D;
    color: white;
}

.cancel-btn:hover {
    background: #ffb77098;
}

.survey-info-row {
    width: 100%;
    height: 300px;
    display: flex;
    padding-top: 50px;
}

.survey-info-row-c {
    display: flex;
    flex-direction: column;
}

.date-category-c {
    display: flex;
}

.input-c {
    display: flex;
    flex-direction: column;
}

.input-clear-c {
    display: flex;
    align-items: center;
}

.question-rows {
    display: grid;
    grid-template-columns: auto auto;
}

.add-question-btn {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    gap: 10px;
    border-radius: 10px;
    background: #FFB7704D;
    color: white;
}

.add-question-btn:hover {
    background: #ffb77098;
}

.add-icon {
    content: url('/assets/img/add_circle_white.png');
}

.answer-btn {
    display: flex;
    align-items: center;
    width: auto;
    border: none;
    background: transparent;
    text-decoration: underline;
    color: white;
    margin: 20px 0;
}

.answer-btn:hover {
    background: #FAF5FE33;
}

.publish-c {
    display: flex;
    justify-content: flex-end;
}

.publish-btn {
    width: auto;
    height: 48px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 10px;
    border-radius: 10px;
    background: #FFCFA1;
}

.publish-btn:hover {
    background: #FFB770;
}

.publish-btn:hover .check-icon {
    content: url('/assets/img/check.png');
}

input:focus {
    background: #FEE9D4;
}

.clear-btn {
    content: url('/assets/img/delete_icon.png');
    cursor: pointer;
    height: 24px;
    width: auto;
}

.clear-btn:hover {
    content: url('/assets/img/delete_icon_hover.png');
}


@media (max-width: 600px) {
    .survey-info-row {
        flex-direction: column;
    }

    label {
        padding-top: 12px;
    }
}