
body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px 70px;
}

header img {
    content: url('/assets/img/poll-app-logo-purple.png');
}

tr {
    display: flex;
    flex-direction: column;
}

td {
    display: flex;
    flex-direction: column;
}

li {
    cursor: pointer;
    list-style: none;
    padding: 5px;
}

.add-survey-btn {
    width: 138px;
    height: 48px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 10px;
    border-radius: 10px;
    background: #FFCFA1;
}