
<body>
    <header>
        <img src="" alt="detail logo">

        <button class="add-survey-btn" (click)="openSurveyModal()">create survey</button>

    </header>
    
    <div class="content">
        <div class="survey-c">
            <p class="survey-state">published</p>
            <div>
                <p>Ends at: {{formatDate(getSurvey()?.ends_at)}}</p>
                <p>Category: {{getSurvey()?.category}}</p>
            </div>

            <div class="headline-desc">
                <h1>{{getSurvey()?.title}}</h1>

                @if (getSurvey()?.description) {
                    <span>{{getSurvey()?.description}}</span>
                }
            </div>

            @if (questionList().length > 0) {
                @for(question of questionList(); track question.id; let index = $index) {
                    <li class="question-li">
                        <tr>
                            <td>{{question.title}}</td>
                            <td>
                                @for (answer of getAnswersForQuestion(question.id); track answer.id) {
                                    <div> 
                                        <li class="answer-li" (click)="updateVoteState(surveyId, question.id, answer.id)">
                                            {{ answer.title }} <span>| votes: {{ voteCounting(answer.id) }}</span>
                                        </li> 
                                    </div>
                                }
                            </td>
                        </tr>
                    </li>
                }
            } @else {
                <p>Keine items in der Liste</p>
            }

            <footer>
                <button (click)="voting()" [routerLink]="['']">complete survey</button>
            </footer>
        </div>

        <div class="result-c">

        </div>
    </div>
</body>


<app-add-survey-modal></app-add-survey-modal>