
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.purple-logo {
    content: url('/assets/img/poll-app-logo-purple.png');
    cursor: pointer;
}

.survey-state {
    background: #FFB770;
    width: 94px;
    height: 26px;
    border-top-right-radius: 14px;
    padding-top: 3px;
    padding-right: 12px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.headline-desc {
    padding: 20px 0 40px 0;
}

tr {
    display: flex;
    flex-direction: column;
}

td {
    display: flex;
    flex-direction: column;
}

.answer-li {
    list-style: upper-latin;
    padding: 5px;
}

input {
    cursor: pointer;
}

.question-li {
    list-style: decimal;
}

.result-li {
    list-style: upper-latin;
    gap: 5px;
}

.result-li strong {
    margin: 0 5px;
}

.add-survey-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 48px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 10px;
    border-radius: 10px;
    margin-top: 20px;
    background: #FFCFA1;
}

.add-survey-btn:hover {
    background: #FFB770;
}

.add-survey-btn:hover .add-icon {
    content: url('/assets/img/add_circle.png');
}

.content {
    padding: 20px 70px;
    display: flex;

}

.survey-c {
    box-sizing: border-box;
    background: #8E70991A;
    width: 50%;
    border-top-right-radius: 160px;
    gap: 8px;
    padding: 0 40px;
}

.survey-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 40px 0;
}

.closing-icon {
    cursor: pointer;
    margin-right: 20px;
    border-radius: 10px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    gap: 10px;
    background: #FFCFA1;
}

.closing-icon:hover {
    background: #FFB770;
}

.complete-btn {
    background: #FFB7704D;
    width: 159px;
    height: 37px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    gap: 10px;
    border-radius: 10px;
    border: none;
}

.result-c {
    box-sizing: border-box;
    width: 50%;
    gap: 8px;
    padding: 0 40px;
}

.result-headline-c {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bar-c {
    display: flex;
    align-items: center;
    color: #FFB770;
}

.bar {
    width: 300px;
    height: 15px;
    background: lightgray;
    margin: 5px 0;
}

.bar-fill {
    height: 100%;
    background: #FFB770;
}


@media (max-width: 950px) {
    .content {
        flex-direction: column;
        padding: 20px 20px;
    }

    .survey-c {
        width: 100%;
    }

    .result-c {
        width: 100%;
    }

    .add-icon {
        content: url('/assets/img/add_circle.png');
    }

}

@media (max-width: 450px) {
    .survey-c {
        padding: 18px;
    }

    .result-c {
        padding: 18px;
    }
}