
<body>
    <div class="max-content">
        <header>
            <img class="purple-logo" src="" alt="detail logo" [routerLink]="['']">

            <button class="add-survey-btn d-none-mobile" (click)="openSurveyModal()">Create survey <img class="add-icon" src="" alt=""></button>

        </header>
        
        <div class="content">
            <div class="survey-c">
                <div class="survey-header">
                    <span class="survey-state">Published</span>
                    <img [routerLink]="['']" class="closing-icon d-none-desktop" src="assets/img/close.png" alt="closing icon">
                </div>
                <div class="date-category-c">
                    <span>Ends at: {{formatDate(getSurvey()?.ends_at)}}</span>
                    <span>Category: {{getSurvey()?.category}}</span>
                </div>
                <div class="headline-desc">
                    <h2 class="headline">{{getSurvey()?.title}}</h2>
                    @if (getSurvey()?.description) {
                        <span>{{getSurvey()?.description}}</span>
                    }
                </div>
                @if (questionList().length > 0) {
                    <div class="grid-container">
                        @for(question of questionList(); track question.id; let index = $index) {
                            <li class="question-li"> 
                            {{question.title}}
                            <br>
                            @if (question.allow_multiple_answers == true) {
                                <span class="multiple-q-txt">More than one answers are possible.</span>
                            }
                                <ol class="answer-list">
                                    @for (answer of getAnswersForQuestion(question.id); track answer.id) {
                                        <li class="answer-li">
                                            <label class="li-label">
                                                <input class="checkbox" type="checkbox" [disabled]="isSurveyCompleted() || surveyService.getEndingTime(getSurvey()?.ends_at) < 0" [checked]="isAnswerSelected(question.id, answer.id)" (change)="updateVoteState($event, surveyId, question.id, answer.id)">
                                                <span>{{ answer.title }}</span>
                                            </label>
                                        </li>
                                    }
                                </ol>
                            </li>
                    }
                    </div>
                }@else {
                    <p>Survey is not loaded yet.</p>
                }
                <footer>
                    <button class="complete-btn d-none-mobile" [disabled]="!hasSelectedAnswers() || (surveyService.getEndingTime(getSurvey()?.ends_at) < 0) || isSurveyCompleted()" (click)="voting()" [routerLink]="(hasSelectedAnswers() && !isSurveyCompleted())? [''] : null">
                        complete survey
                    </button>
                    <button class="complete-btn-mobile d-none-desktop" [disabled]="!hasSelectedAnswers() || (surveyService.getEndingTime(getSurvey()?.ends_at) < 0) || isSurveyCompleted()" (click)="voting()" [routerLink]="(hasSelectedAnswers() && !isSurveyCompleted())? [''] : null">
                        complete <img class="check-icon" src="assets/img/check.png" alt="check icon">
                    </button>
                </footer>
            </div>

            @if (resultsOpen) {
                <div class="result-c result-open">
                    <button [class.open]="resultsOpen" class="d-none-desktop result-btn" (click)="resultsOpen = false">
                        Close results 
                        <img class="result-arrow arrow-up-purple" [class.rotate]="resultsOpen" src="assets/img/arrow_drop_up-purple.png" alt="arrow icon purple">
                    </button>
                    <div class="result-headline-c">
                        <h3>Survey results</h3>
                        <h3 class="hl-color">live</h3>
                    </div>
                    @if (questionList().length > 0 && voteList().length > 0) {
                        @for(question of questionList(); track question.id; let index = $index) {
                            <li class="question-li li-pos-o">
                                <ol>
                                    {{question.title}}
                                    @for (answer of getAnswersForQuestion(question.id); track answer.id) {
                                        <li class="result-li">
                                            <div class="bar-c">
                                                <div class="bar">
                                                    <div class="bar-fill"
                                                    [style.width.%]="getPercentageForAnswer( answer.id, question.id)"></div>
                                                </div>
                                                <strong>{{ getPercentageForAnswer( answer.id, question.id) }}%</strong>
                                            </div>
                                        </li>
                                    }
                                </ol>
                            </li>
                        }
                    } @else {
                        <div class="no-results-c">
                            <p class="result-txt">Results will be shown here after participats complete the survey.</p>
                            <p class="result-txt mr-left">There are no answers yet.</p>
                        </div>
                    }
                </div>
            } @else {
                <div class="result-c result-closed">
                    <button class="d-none-desktop result-open-btn" (click)="resultsOpen = true">
                        See results 
                        <img class="result-arrow arrow-down-purple" src="assets/img/arrow_drop_down-purple.png" alt="arrow icon purple">
                    </button>
                </div>
            }
            

        </div>
    </div>
</body>


<app-add-survey-modal></app-add-survey-modal>