.days-left-bg {
    background: #ffcfa1;
    width: fit-content;
    border-top-right-radius: 14px;
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;

}

.soon-ending-card {
    width: 321px;
    height: 310px;
    gap: 10px;
    border-top-right-radius: 80px;
    padding-top: 40px;
    padding-right: 18px;
    padding-bottom: 40px;
    padding-left: 18px;
    background: #faf5fe;
    color: black;
}

