.days-left-bg {
    background: #ffcfa1;
    width: fit-content;
    border-top-right-radius: 14px;
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;

}

.soon-ending-survey-rows {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soon-ending-card {
    width: 321px;
    gap: 10px;
    border-top-right-radius: 80px;
    padding-top: 40px;
    padding-right: 18px;
    padding-bottom: 40px;
    padding-left: 18px;
    background: #faf5fe;
    color: black;
    cursor: pointer;
}

.survey-list {
    display: flex;
    max-width: 100vw;
}

.survey-list-c {
    cursor: pointer;
    width: 513px;
    border-top-left-radius: 5px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    gap: 24px;
    background: #D9D9D914;
}

.activeBtn {
    width: 119px;
    height: 25px;
    border-radius: 20px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    gap: 10px;
    background: #ffb770;
}

.pastBtn {
    width: 106px;
    height: 25px;
    border-radius: 20px;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    gap: 10px;
    background: #fee9d4;
}

li {
    cursor: pointer;
}