
<h2>Your surveys</h2>
<h3>Ending soon surveys</h3>

@if (list().length > 0) {
    @for(survey of getEndingSoonSurveys(); track survey.id; let index = $index) {
        <div class="soon-ending-card" [routerLink]="['detail', survey.id]" role="link">
            <span>{{survey.category}}</span>

            <p>{{survey.title}}</p>
            <p>{{survey.description}}</p>
            
            <div class="days-left-bg">
                @if (survey.ends_at) {
                    <span>{{ getEndingTime( survey.ends_at ) }} day('s)</span>
                }
            </div>
        </div>
    }
}


@if (list().length > 0) {
    @for(survey of list(); track survey.id; let index = $index) {
        <div [routerLink]="['detail', survey.id]" role="link">
            <span>{{survey.category}}</span>

            <p>{{survey.title}}</p>
            <p>{{survey.description}}</p>
            
            <span>Ends in:</span>
            @if (survey.ends_at) {
                <span>{{ getEndingTime( survey.ends_at ) }} day('s)</span>
            }
        </div>
    }
} @else {
    <p>Keine items in der Liste</p>
}

