/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: Mulish;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: all 0.5s ease;
}

button:hover {
    transform: scale(1.04); 
    box-shadow: 0 0 15px rgba(157, 72, 188, 0.5); 
}

.button:active {
  transform: scale(0.98);
}

h1 {
    font-family: Nerko One;
    font-weight: 400;
    font-style: Regular;
    font-size: 56px;
    line-height: 50px;
    letter-spacing: 0%;
}

h2 {
    font-family: Nerko One;
    font-weight: 400;
    font-style: Regular;
    font-size: 46px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #FFB770;
}

h3 {
    font-family: Mulish;
    font-weight: 900;
    font-style: Bold;
    line-height: 100%;
    letter-spacing: 0%;
}

p {
    font-family: Mulish;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

span {
    font-family: Mulish;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}

label {
    font-family: Mulish;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.d-none-desktop {
    display: none;
}

.d-none-mobile {
    display: flex;
}

@media (max-width: 950px) {
    .d-none-desktop {
        display: flex;
    }

    .d-none-mobile {
        display: none;
    }
}