<div class="design-c">
    <div class="design-c-c">
        <h1>
            Collect Feedback, <br>
            unlock ideas
        </h1>

        <div class="d-none-desktop">
            <img src="assets/img/varriant2.png" alt="" class="mobile-image">
        </div>

        <p>
            Create and share surveys in minutes – from team events to workplace culture. <br>
            Collect opinions, engage your audience, and turn feedback into action.
            <br>
            <button class="add-survey-btn" (click)="openSurveyModal()">New survey <img class="add-icon" src="" alt=""></button>
        </p>
    </div>
    <div class="design-img d-none-mobile">
        <img src="assets/img/varriant1.png" alt="" class="variant variant-1">
        <img src="assets/img/varriant2.png" alt="" class="variant variant-2">
    </div>
</div>


<app-add-survey-modal></app-add-survey-modal>