h1 {
    color: #FFB770;
}

.design-img {
    content: url('/assets/img/varriant1.png');
}

.design-img:hover {
    content: url('/assets/img/varriant2.png');
}

.design-c {
    display: flex;
    align-items: flex-start;
}

.add-survey-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 48px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 10px;
    border-radius: 10px;
    background: #FFCFA1;
}

.add-survey-btn:hover {
    background: #FFB770;
}

.add-survey-btn:hover .add-icon {
    content: url('/assets/img/add_circle.png');
}

@media (max-width: 950px) {
    .design-c {
        flex-direction: column;
        align-items: center;
    }

    .design-img {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .design-img {
        width: 200px;
    }
}