h1 {
    color: #FFB770;
}

.design-img {
    width: 400px;
    height: 400px;
    position: relative;
    
    background-image: url('assets/img/varriant1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: auto;
}

.design-img::after {
    content: ""; 
    display: block; 
    position: absolute;
    inset: 0;
    background-image: url('assets/img/varriant2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;

    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 1; 
}

.design-img:hover::after {
    opacity: 1;
}

.design-c {
    display: flex;
    align-items: flex-start;
    height: 30%;
}

.add-survey-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 48px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 10px;
    border-radius: 10px;
    margin-top: 20px;
    background: #FFCFA1;
}

.add-survey-btn:hover {
    background: #FFB770;
}

.add-icon {
    content: url('assets/img/add_circle.png');
    opacity: 0;
    transition: opacity 0.6s ease;
}

.add-survey-btn:hover .add-icon {
    opacity: 1;
}

@media (max-width: 950px) {
    .design-c {
        flex-direction: column;
        align-items: center;
    }

    .design-img {
        width: 300px;
    }

    .add-icon {
        content: url('assets/img/add_circle.png');
    }
}

@media (max-width: 400px) {
    .design-img {
        width: 200px;
    }
}