<div class="design-c">
    <div>
        <h1>
            Collect Feedback, <br>
            unlock ideas
        </h1>

        <p>
            Create and share surveys in minutes – from team events to workplace culture. <br>
            Collect opinions, engage your audience, and turn feedback into action.
            <br>
            <button class="add-survey-btn" (click)="openSurveyModal()">New survey <img class="add-icon" src="" alt=""></button>
        </p>
    </div>

    <img class="design-img">
</div>


<app-add-survey-modal></app-add-survey-modal>